.photo-block {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  width: 25rem;
  height: 35rem;
  margin-bottom: 5rem;
  margin-top: 0;
  float: left;
  transition: all .1s;

  &:not(:last-child) {
    margin-right: 5rem;
    
  }
  
  &:hover {
    transform: scale(1.01) translateY(-.3rem);
    box-shadow: 0 1rem 3rem rgba($color-black, .15);
  }
  

  &__image-box {
    width: 100%;
    // box-shadow: 0 .5rem 2rem rgba($color-black, .15);
  }

  &__text-box {
    font-size: 1.5rem;
  }
}